*
{font-family: Arial, Helvetica, sans-serif;}

.titlehome
{border: 20px solid black;
text-align: center;
font-size: 70px;
font-family: brush script mt;
font-style: italic;
}

.foodtitles
{text-align: center;}

.meal-listshome
{border: 20px solid black;
 text-align: center;
 font-size: 50px;
 padding: 60px;}

.chickenpage
{background-color: burlywood;}

.images
{display: block;
margin-left: auto;
margin-right: auto;}

.steakpage
{background-color: brown;}

.lobsterpage
{background-color: palevioletred;}