*
{font-family: Arial, Helvetica, sans-serif;
 background-color:burlywood}

.title
{border: 20px solid black;
text-align: center;
font-size: 70px;
font-family: brush script mt;
font-style: italic;
}

.meal-lists
{border: 20px solid black;
 text-align: center;
 font-size: 50px;
 padding: 60px;}